* {
  margin: 0px;
  padding: 0px;
}
html {
  /* colors */
  --Color1: royalblue;
  --Color2: skyblue;
  --Color3: black;
  --Color4: white;
  /* Fonts  */
  --Font1: cursive;
}
h1 {
  font-size: 8vw;
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
h2 {
  font-size: 4vw;
  font-family: var(--Font1);
  text-align: center;
  padding: 5px;
  background-color: var(--Color2);
}
/* S C R O L L  B A R */
::-webkit-scrollbar {
  width: 12px;
  /* display: none; */
}
::-webkit-scrollbar-thumb {
  background: var(--Color1);
}
/* Track */
::-webkit-scrollbar-track {
  background: var(--Color2);
}
::-webkit-scrollbar-thumb:hover {
  background: black;
}

body {
  overflow-x: hidden;
}
/* MAIN ELEMENTS */
header {
  overflow-x: inherit;
  background-color: var(--Color1);
  position: sticky;
  top: 0px;
  transition: 0.3s;
}
header:hover {
  box-shadow: 0px 7px 10px black;
}

/* H E A D E R */
.NavBar {
  padding: 5px 15px;
  display: flex;
}
#NavBarLogo {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.NavBar ul {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.NavBar ul li {
  list-style-type: none;
  margin: 0px 2px;
  padding: 0px 5px;
}
.NavBar ul li a {
  color: white;
  text-decoration: none;
  font-family: cursive;
  text-align: center;
  font-weight: bold;
}
.NavBar ul li a:hover {
  border-bottom: 2px solid white;
}

.BtnContainer {
  float: right;
  display: flex;
  position: relative;
  bottom: 65px;
  width: 40%;
}
#SearchBar {
  padding: 7px 10px;
  margin: auto;
  width: 80%;
  font-family: var(--Font1);
  display: block;
}

#BtnSearch {
  padding: 7px 10px;
  cursor: pointer;
  width: 20%;
  background-color: var(--Color2);
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
/* M A I N */
#Cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: space-between;
}
.MyCard {
  margin: 2% auto;
  /* padding: 10px 0px; */
  border: 2px solid red;
  width: 300px;
  height: 350px;
  border-radius: 10px;
  text-align: center;
  transition: 0.5s;
}
.MyCard:hover {
  box-shadow: 1px 1px 30px 1px black;
}
.MyCard h3 {
  height: 10%;
  font-family: var(--Font1);
  background-color: var(--Color2);
}
.MyCard button {
  padding: 10px;
  border: 2px solid var(--Color1);
  border-radius: 10px;
  background-color: var(--Color2);
}
.MyCard button:hover {
  width: 30%;
}
.CardBgImg {
  width: 100%;
  height: 30%;
}
/* Card Featured Images */
#C1 {
  background-image: url("ContentResources/Images/C1.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}
#C2 {
  background-image: url("ContentResources/Images/C2.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

#C3 {
  background-image: url("ContentResources/Images/C3.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}
#C4 {
  background-image: url("ContentResources/Images/C4.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}
#C5 {
  background-image: url("ContentResources/Images/C5.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}
#C6 {
  background-image: url("ContentResources/Images/C6.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}
#C7 {
  background-image: url("ContentResources/Images/C7.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}
#C8 {
  background-image: url("ContentResources/Images/C8.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}
#C9 {
  background-image: url("ContentResources/Images/C9.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}
#C10 {
  background-image: url("ContentResources/Images/C10.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}
#C11 {
  background-image: url("ContentResources/Images/C11.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}
#C12 {
  background-image: url("ContentResources/Images/C12.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}
.CardContent {
  padding: 20px;
  /* border: 2px solid green; */
  height: 30%;
}
.CardContent h4 {
  font-family: cursive;
}
#TopChefs {
  /* Contains a Slider  */
  height: 50vh;
  background-color: aqua;
}
/* F O O T E R */
footer {
  text-align: center;
  padding: 25px;
  background-color: black;
  color: white;
}
